<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.course.mvp.demo.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/mvpdemo/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>ebookServlet</servlet-name>
    <servlet-class>com.course.mvp.demo.server.EbookServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ebookServlet</servlet-name>
    <url-pattern>/mvpdemo/ebook</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.course.mvp.demo.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.course.mvp.demo.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
	   <servlet-name>loginServlet</servlet-name>
	   <url-pattern>/mvpdemo/login</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MVPDemo.html</welcome-file>
  </welcome-file-list>

</web-app>
